/* components/common/Slider/ImageCarousel.module.css */
.slides {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slideNext {
    animation: slideNext 0.5s forwards;
}

.slidePrev {
    animation: slidePrev 0.5s forwards;
}

@keyframes slideNext {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slidePrev {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}