.scratchCard {
    position: relative;
    border: 4px solid #c7c6cf;
    border-radius: 8px;
    padding: 12px;
    width: 320px;
    height: 320px;
    background-color: #fff;
}

.scratchCardCoverContainer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    filter: url('#remove-black');
    transition: opacity 0.4s;
}

.scratchCardCoverContainer.clear {
    opacity: 0;
}

.scratchCardCoverContainer.hidden {
    display: none;
}

.scratchCardCanvas {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: grab;
    touch-action: none;
}

.scratchCardCanvas.hidden {
    opacity: 0;
}

.scratchCardCanvas:active {
    cursor: grabbing;
}

.scratchCardCanvasRender {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.2s;
}

.scratchCardCanvasRender.hidden {
    display: none;
}

.scratchCardCover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cfced6;
    background-image: linear-gradient(to right, #cfced6, #e0dfe6, #efeef3, #e0dfe6, #cfced6);
    overflow: hidden;
}

.scratchCardCover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, transparent 40%, rgba(255, 255, 255, 0.8) 50%, transparent 60%);
    background-position: bottom right;
    background-size: 300% 300%;
    background-repeat: no-repeat;
}

.scratchCardCover.shine::before {
    animation: shine 8s infinite;
}

@keyframes shine {
    50% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -50% -50%;
    }
}

.scratchCardCover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    filter: url('#noise');
}

.scratchCardCoverBackground {
    width: 100%;
    height: 100%;
    fill: #555;
    opacity: 0.1;
}

.scratchCardImage {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.16));
    user-select: none;
    will-change: transform;
}

.scratchCardImage.animate {
    animation: pop-out-in cubic-bezier(0.65, 1.35, 0.5, 1) 1s;
}

@keyframes pop-out-in {
    36% {
        transform: scale(1.125);
    }

    100% {
        transform: scale(1);
    }
}

.scratchCardText {
    /* Add your text styles here */
}

.hidden {
    display: none;
}

.clear {
    opacity: 0;
}

.shine::before {
    animation: shine 8s infinite;
}